header {
	background-color: black;
	color: #fff;
}

ul {
	list-style: none;
	display: flex;

	li {
		padding: .5rem;
		cursor: pointer;

		a {
			padding: .5rem;
			
			&:hover{
				background-color: grey;
				color: #000;
			}
		}
	}
}